.section-main {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-color: #1e222d;
  height: 800px;
}

.div1 {
  position: relative;
  background-color: #131722;
  height: 90%;
  width: 20%;
  top: 30px;
  left: 30px;
}

.div2 {
  position: relative;
  left: 60px;
  top: 30px;
  right: 30px;
  width: 75%;
  height: 90%;
  background-color: #131722;
}

.data-info {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  width: 25%;
  height: 40.5%;
  background-color: #1e222d;
}

.water-container {
  position: absolute;
  margin-left: 26.5%;
  height: 40.5%;
  width: 73%;
  margin-top: 10px;
  background-color: #1e222d;
}

.div1 ul li {
  text-align: center;
  font-size: 22px;
  margin-top: 40px;
  border-top: 1px solid bisque;
  border-bottom: 1px solid rgba(0, 128, 0, 0.5);
  padding: 5px;
}

.div1 ul li a {
  padding: 0% 35% 0% 35%;
  color: white;
  text-decoration: none;
}

.div1 ul li:hover,
.active {
  background-color: #1e222d;
}

.div1 ul li a:visited {
  background-color: #1e222d;
}

@media screen and (max-width: 1231px) {
  .section-main {
    height: 1000px;
    flex-direction: column;
  }
  .div1 {
    width: 100%;
    height: 600px;
    left: 0;
  }
  .div2 {
    width: 100%;
    left: 0;
  }
  .div1 ul li {
    margin-top: 20px;
  }
}

@media screen and (max-width: 811px) {
  .water-container {
    background-color: transparent;
  }
}

@media screen and (max-width: 458px) {
  .water-container {
    height: 300px;
  }
}
